body{
  font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  margin: 0;
  margin-bottom: 200px;
  width: 100%

  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.header{
  background-image: url("img/coffee.jpg");
  width: auto;
  height: 250px;
  opacity: 0.75;

  font-size: 100px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

div.header-text{
  align-self: center;
  justify-content: center;

  width: auto;
  opacity: 1;
}

#main-body{
  max-width: 1280px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}

#left-body, #middle-body, #right-body{
  max-width: 400px;
  text-align: center;

  display: flex;
  flex-direction: column;
  flex: 1;
}

#middle-body{
  margin-left: 40px;
  margin-right: 40px;
}

div.paragraph-image{
  align-self: center;

  margin-bottom: 24px;
}

div.video-container{
  position: absolute;
}

#video-container{
  border: 0;
}
